<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
     <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="border-container">
        <h1>Citizenry</h1>
        <br>
        <div class="col-lg-6 center-block">

        <div> {{ searchdata }} </div>

          <a href="/sessions/logout">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
